@media only screen and (min-width: 1px){
    body{
        background-image: url(../images/headfoot.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    main section:nth-child(3) {
        grid-column: span 1;
    }
    header {
        background-color: #b16d85;
        text-align: center;
        text-size-adjust: 20%;
        border-radius: 15px 15px 0px 0px;
    }
    img {
        max-width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h2, h4 {
        font-family: 'DM Serif Text', serif;
    }
    p, a {
        font-family: 'Patrick Hand', cursive;
    }

    .visual-hierarchy {
        background-color: #7fb16d;
        border-radius: 15px 15px 15px 15px;
    }
    .rule-of-thirds {
        background-color: #7fb16d;
        border-radius: 15px 15px 15px 15px;
    }
    .fitts-law {
        background-color: #7fb16d;
        border-radius: 15px 15px 15px 15px;
    }

    .footerButton{
        display: grid;
        grid-template-rows: 5em;
        text-align: center;
        background-color:#b16d85;
        border-radius: 15px 15px 15px 15px;
        padding-top: .5em;
        white-space: normal; 
    }

    .home-button{
        border-radius: 15px 15px 15px 15px;
        border-width: thick;
        border-style: ridge;
        border-color: #af0e0e;
        background-color: black;
        color:whitesmoke;
    }
    
    }