@media (min-width: 35rem) {

    main {
        background-color: #effffd;
        padding: 10px;
        
    }
    
    /* main img {
        display: block;
    } */
    
    footer p {
        text-align: center;
    }
    
    header {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        background-color: #42c2ff;
        padding: 20px;
        align-items: center;
    }
    
    header h1 {
        grid-column: 2;
        grid-row: 1;
        padding: 40px;
    }
    
    header img {
        padding: 10px;
        box-shadow: 5px 5px 5px #999;
        border-radius: 150px;
    }

    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba (0, 0, 0,.3);
        justify-content: center;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba (0, 0, 0,.3);
    }

    nav button {display: none;
    }
