@media only screen and (min-width: 1px){
/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

    body {
    background-color: #025e82;
    font-family: Helvetica, sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: white;
}
    body{
        background-image: url(../images/headfoot.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}
    main {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
}
    main section:nth-child(3) {
        grid-column: span 1;
}
    header {
        background-color: #dd8047;
        text-align: center;
        text-size-adjust: 20%;
        border-radius: 15px 15px 0px 0px;
}
    img {
        max-width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
    h1, h2, h4 {
        font-family: 'DM Serif Text', serif;
}
    p, a {
        font-family: 'Roboto', sans-serif;
}

    .visual-hierarchy {
        background-color: #40702f;
        border-radius: 15px 15px 15px 15px;
}
    .rule-of-thirds {
        background-color: #568c42;
        border-radius: 15px 15px 15px 15px;
}