@media only screen and (min-width: 32em) {
}
.body {
    font-size: 16px;
    background: lightgreen;
    border: 1px solid darkgreen;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    .one {
      background: green;
      margin: 10px;
      padding: 10px;
    }
    .two {
      background: darkgreen;
      margin: 10px;
      padding: 10px;
      color: white;
    }
    .three {
      background: darkolivegreen;
      margin: 10px;
      padding: 10px;
      color: white;
    }
}
  
  @media screen and (min-width: 900px) and (max-width: 1200px) {
    .body {
      font-size: 20px;
      background: lightblue;
      border: 2px solid darkblue;
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 20px;
        
      .one {
        background: blue;
      }
  
      .two {
        grid-column: 1;
        grid-row: 2;
        background: darkblue;
      }
  
      .three {
        grid-column: 2;
        grid-row: 2;
        background: aquamarine;
        color: black;
      }
    }
  }
  
  @media screen and (max-width: 899px) {
    .body {
      background: pink;
      border: 3px solid darkred;
      font-size: 24px;
      display: flex;
      flex-direction: column;
      margin: 15px;
      padding: 10px;
      
      .one {
        background: red;
      }
      
      .two {
        background: darkred;
      }
      
      .three {
        background: indianred;
      }
    }
  }